# Project Config
PROJECT_NAME=Famousince
DOMAIN=Famousince.com
PORT=3004
GITHUB_URL=git@github.com:GabeValerio/Famousince.git
SERVER_IP=your_server_ip

# Environment Variables for the App
NEXT_PUBLIC_SUPABASE_URL=your_supabase_url
NEXT_PUBLIC_SUPABASE_ANON_KEY=your_anon_key
NEXTAUTH_SECRET=your_secret_key
NEXT_PUBLIC_BASE_URL=https://famousince.com

NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=your_cloudinary_cloud_name
CLOUDINARY_API_KEY=your_cloudinary_api_key
CLOUDINARY_API_SECRET=your_cloudinary_api_secret

# Stripe Configuration
NEXT_PUBLIC_STRIPE_PUBLIC_KEY=your_stripe_public_key
STRIPE_SECRET_KEY=your_stripe_secret_key
